<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div class="container">
    <div class="row">
        {% for album in albums%}
            <div class="col-sm-3">
                <div class="panel pamel-default">
                    <a href="{% url 'rainbowapp:details' album.id%}">
                    <img src="{{album.cover.url}}" class="img img-thumbnail" alt="" style="">
                    </a>
                    <div class="caption">
                        <h5>{{album.name}}</h5>
                         <h6>{{album.artist}}</h6>
                        <a href="" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                         <a href="" class="btn btn-info btn-sm">
                            <i class="fas fa-heart"></i>
                        </a>
                         <a href="" onclick='return confirm("Are you sure you want to delete this")' class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
         {% endfor %}
    </div>

</div>